### Get combined data matrix for multi-omics plots

In [10]:
# load function from data.py in dash directory
# https://stackoverflow.com/questions/4383571/importing-files-from-different-folder

#import sys
#sys.path.insert(1, '../../../src/dash')

import os
os.chdir("../../../src/dash")

from data import get_omics_data

In [40]:
# load metabolomics data matrix
print("Loading metabolomics data...")
metabolomics_df, metabolomics_quant_range = get_omics_data(dataset='metabolomics', with_metadata=True)
print("Metabolomics data shape: {}".format(metabolomics_df.shape))
print("Loading lipidomics data...")
lipidomics_df, lipidomics_quant_range = get_omics_data(dataset='lipidomics', with_metadata=True)
print("Lipidomics data shape: {}".format(lipidomics_df.shape))
print("Loading proteomics data...")
proteomics_df, proteomics_quant_range = get_omics_data(dataset='proteomics', with_metadata=True)
print("Proteomics data shape: {}".format(proteomics_df.shape))

Loading metabolomics data...
Metabolomics data shape: (127, 188)
Loading lipidomics data...
Lipidomics data shape: (128, 7246)
Loading proteomics data...
Proteomics data shape: (124, 528)

In [41]:
# get quant columns
lipidomics_quant_columns = lipidomics_df.columns[:lipidomics_quant_range]
lipidomics_quant_df = lipidomics_df[lipidomics_quant_columns]

metabolomics_quant_columns = metabolomics_df.columns[:metabolomics_quant_range]
metabolomics_quant_df = metabolomics_df[metabolomics_quant_columns]

proteomics_quant_columns = proteomics_df.columns[:proteomics_quant_range]
proteomics_quant_df = proteomics_df[proteomics_quant_columns]

In [42]:
# get clinical_metadata_df
clinical_metadata_columns = proteomics_df.columns[proteomics_quant_range:]
clinical_metadata_df = proteomics_df[clinical_metadata_columns]
clinical_metadata_df

,Sample_label,Albany_sampleID,COVID,Hospital_free_days,Age_less_than_90,Gender,ICU_1,APACHEII,Charlson_score,Mech_Ventilation,Vent_free_days
sample_id,,,,,,,,,,,
1.0,COVID_01,C1,1,0,39,M,0,15,0,1,0
2.0,COVID_02,C2,1,22,63,M,0,,2,0,28
3.0,COVID_03,C3,1,1,33,M,0,,2,0,28
4.0,COVID_04,C4,1,22,49,M,0,,1,0,28
5.0,COVID_05,C5,1,10,49,M,0,19,1,1,23
...,...,...,...,...,...,...,...,...,...,...,...
120.0,NONCOVID_17,NC17,0,24,84,F,1,11,8,0,28
122.0,NONCOVID_19,NC19,0,NA,66,F,1,27,4,1,21
123.0,NONCOVID_20,NC20,0,23,62,F,1,18,5,0,0
125.0,NONCOVID_22,NC22,0,26,63,M,0,4,2,0,28
127.0,NONCOVID_24,NC24,0,26,32,F,0,,0,0,28

In [43]:
# join quant values together
combined_df = proteomics_quant_df.join(lipidomics_quant_df).join(metabolomics_quant_df).join(clinical_metadata_df)

In [44]:
combined_df

,7593,7596,7597,7599,7600,7601,7602,7605,7606,7607,...,Albany_sampleID,COVID,Hospital_free_days,Age_less_than_90,Gender,ICU_1,APACHEII,Charlson_score,Mech_Ventilation,Vent_free_days
sample_id,,,,,,,,,,,,,,,,,,,,,
1.0,37.710878,28.960165,29.486177,26.675595,19.370255,25.517883,26.493429,30.410945,31.088410,30.999944,...,C1,1,0,39,M,0,15,0,1,0
2.0,37.240139,28.102745,28.188532,27.733115,19.990200,19.812219,24.845320,29.028257,31.023136,31.772071,...,C2,1,22,63,M,0,,2,0,28
3.0,37.637201,28.665126,27.422219,20.724576,24.932560,22.113618,25.717407,31.937930,30.425124,30.072398,...,C3,1,1,33,M,0,,2,0,28
4.0,38.145233,27.830079,29.649296,26.203592,26.040009,24.332789,26.232187,30.945938,29.962098,29.797982,...,C4,1,22,49,M,0,,1,0,28
5.0,37.896564,29.343630,29.503473,27.011693,25.772082,25.169400,26.949490,32.916129,32.403777,32.162940,...,C5,1,10,49,M,0,19,1,1,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120.0,38.004675,26.636994,28.346803,26.662073,25.585918,24.429053,26.073349,29.878007,29.607049,29.886157,...,NC17,0,24,84,F,1,11,8,0,28
122.0,38.318576,27.799589,25.861147,24.551744,25.732650,18.872135,26.311449,30.829414,28.647359,30.121764,...,NC19,0,NA,66,F,1,27,4,1,21
123.0,37.527875,27.174171,28.953215,25.619161,24.528623,20.714471,25.589237,29.621968,29.398338,29.436129,...,NC20,0,23,62,F,1,18,5,0,0
125.0,37.531874,27.048120,27.953992,18.235671,24.415578,18.968960,24.469237,29.847478,30.602844,29.728744,...,NC22,0,26,63,M,0,4,2,0,28
127.0,37.322527,28.633014,29.464392,26.611752,26.003953,24.763395,25.088410,30.716694,31.131302,30.354474,...,NC24,0,26,32,F,0,,0,0,28

In [16]:
proteomics_quant_range

517

In [56]:
df_dict = {
    "proteomics":proteomics_df,
    "lipidomics":lipidomics_df,
    "metabolomics":metabolomics_df,
}

quant_value_range_dict = {
    "proteomics":proteomics_quant_range,
    "lipidomics":lipidomics_quant_range,
    "metabolomics":metabolomics_quant_range,
}

def get_combined_data(df_dict, quant_range_dict):

    # load metabolomics data matrix
    metabolomics_df, metabolomics_quant_range = df_dict['metabolomics'], quant_range_dict['metabolomics']
    lipidomics_df, lipidomics_quant_range = df_dict['lipidomics'], quant_range_dict['lipidomics']
    proteomics_df, proteomics_quant_range = df_dict['proteomics'], quant_range_dict['proteomics']

    # get quant columns
    lipidomics_quant_columns = lipidomics_df.columns[:lipidomics_quant_range]
    lipidomics_quant_df = lipidomics_df[lipidomics_quant_columns]

    metabolomics_quant_columns = metabolomics_df.columns[:metabolomics_quant_range]
    metabolomics_quant_df = metabolomics_df[metabolomics_quant_columns]

    proteomics_quant_columns = proteomics_df.columns[:proteomics_quant_range]
    proteomics_quant_df = proteomics_df[proteomics_quant_columns]

    # get clinical_metadata_df
    clinical_metadata_columns = proteomics_df.columns[proteomics_quant_range:]
    clinical_metadata_df = proteomics_df[clinical_metadata_columns]
    clinical_metadata_df

    # join quant values together
    combined_df = proteomics_quant_df.join(lipidomics_quant_df).join(metabolomics_quant_df)
    combined_quant_range = combined_df.shape[1]
    combined_quant_columns = combined_df.columns[:combined_quant_range]
    # now join with clinical metadata
    combined_df = combined_df.join(clinical_metadata_df)

    # drop any samples with missing values in quant columns
    combined_df.dropna(subset=combined_quant_columns,inplace=True)

    # also return df_dict with combined_df
    df_dict['combined'] = combined_df

    # update quant_range_dict
    quant_range_dict['combined'] = combined_quant_range

    return df_dict, quant_range_dict

df_dict, quant_range_dict = get_combined_data(df_dict, quant_value_range_dict)

In [57]:
combined_df = df_dict['combined']
combined_df.head()

,7593,7596,7597,7599,7600,7601,7602,7605,7606,7607,...,Albany_sampleID,COVID,Hospital_free_days,Age_less_than_90,Gender,ICU_1,APACHEII,Charlson_score,Mech_Ventilation,Vent_free_days
sample_id,,,,,,,,,,,,,,,,,,,,,
1.0,37.710878,28.960165,29.486177,26.675595,19.370255,25.517883,26.493429,30.410945,31.088410,30.999944,...,C1,1,0,39,M,0,15,0,1,0
2.0,37.240139,28.102745,28.188532,27.733115,19.990200,19.812219,24.845320,29.028257,31.023136,31.772071,...,C2,1,22,63,M,0,,2,0,28
3.0,37.637201,28.665126,27.422219,20.724576,24.932560,22.113618,25.717407,31.937930,30.425124,30.072398,...,C3,1,1,33,M,0,,2,0,28
4.0,38.145233,27.830079,29.649296,26.203592,26.040009,24.332789,26.232187,30.945938,29.962098,29.797982,...,C4,1,22,49,M,0,,1,0,28
5.0,37.896564,29.343630,29.503473,27.011693,25.772082,25.169400,26.949490,32.916129,32.403777,32.162940,...,C5,1,10,49,M,0,19,1,1,23

In [50]:
combined_quant_value_range = quant_range_dict['combined']
combined_quant_columns = combined_df.columns[:combined_quant_value_range]
combined_df[combined_quant_columns]

,7593,7596,7597,7599,7600,7601,7602,7605,7606,7607,...,204,205,206,207,208,209,210,211,213,214
sample_id,,,,,,,,,,,,,,,,,,,,,
1.0,37.710878,28.960165,29.486177,26.675595,19.370255,25.517883,26.493429,30.410945,31.088410,30.999944,...,12.537861,9.860215,11.735665,13.040251,12.276960,12.688793,17.169812,17.874240,12.773660,15.037276
2.0,37.240139,28.102745,28.188532,27.733115,19.990200,19.812219,24.845320,29.028257,31.023136,31.772071,...,13.081313,13.602312,13.523504,13.644353,13.343292,13.210456,13.352844,16.451434,11.238030,17.255301
3.0,37.637201,28.665126,27.422219,20.724576,24.932560,22.113618,25.717407,31.937930,30.425124,30.072398,...,12.701360,12.883924,13.145593,14.572374,12.980692,12.916020,20.310171,16.629386,12.626464,15.841446
4.0,38.145233,27.830079,29.649296,26.203592,26.040009,24.332789,26.232187,30.945938,29.962098,29.797982,...,11.907378,12.750748,13.150066,12.160665,12.567163,12.970315,12.525943,15.012600,12.787116,16.246023
5.0,37.896564,29.343630,29.503473,27.011693,25.772082,25.169400,26.949490,32.916129,32.403777,32.162940,...,12.909783,12.704806,10.887817,10.633127,12.489749,11.756084,16.983539,16.917784,13.290696,16.177633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120.0,38.004675,26.636994,28.346803,26.662073,25.585918,24.429053,26.073349,29.878007,29.607049,29.886157,...,12.352503,12.781847,12.104648,12.362916,11.897980,12.392336,17.316358,16.941134,13.075661,18.081274
122.0,38.318576,27.799589,25.861147,24.551744,25.732650,18.872135,26.311449,30.829414,28.647359,30.121764,...,12.817136,13.440836,13.578259,13.620910,8.923157,13.923531,12.861055,16.841500,17.715807,15.391217
123.0,37.527875,27.174171,28.953215,25.619161,24.528623,20.714471,25.589237,29.621968,29.398338,29.436129,...,12.080741,14.273205,12.411944,13.585428,12.483726,14.353511,15.004183,16.431385,12.094935,18.275598
125.0,37.531874,27.048120,27.953992,18.235671,24.415578,18.968960,24.469237,29.847478,30.602844,29.728744,...,12.307803,12.746906,13.035087,12.672107,12.797433,13.068042,12.862235,16.626568,14.738471,17.016293
127.0,37.322527,28.633014,29.464392,26.611752,26.003953,24.763395,25.088410,30.716694,31.131302,30.354474,...,13.047262,13.053812,13.441363,13.300513,13.127588,13.139711,13.314418,16.191941,13.052785,17.290952

In [51]:
combined_df[combined_quant_columns].dropna()

,7593,7596,7597,7599,7600,7601,7602,7605,7606,7607,...,204,205,206,207,208,209,210,211,213,214
sample_id,,,,,,,,,,,,,,,,,,,,,
1.0,37.710878,28.960165,29.486177,26.675595,19.370255,25.517883,26.493429,30.410945,31.088410,30.999944,...,12.537861,9.860215,11.735665,13.040251,12.276960,12.688793,17.169812,17.874240,12.773660,15.037276
2.0,37.240139,28.102745,28.188532,27.733115,19.990200,19.812219,24.845320,29.028257,31.023136,31.772071,...,13.081313,13.602312,13.523504,13.644353,13.343292,13.210456,13.352844,16.451434,11.238030,17.255301
3.0,37.637201,28.665126,27.422219,20.724576,24.932560,22.113618,25.717407,31.937930,30.425124,30.072398,...,12.701360,12.883924,13.145593,14.572374,12.980692,12.916020,20.310171,16.629386,12.626464,15.841446
4.0,38.145233,27.830079,29.649296,26.203592,26.040009,24.332789,26.232187,30.945938,29.962098,29.797982,...,11.907378,12.750748,13.150066,12.160665,12.567163,12.970315,12.525943,15.012600,12.787116,16.246023
5.0,37.896564,29.343630,29.503473,27.011693,25.772082,25.169400,26.949490,32.916129,32.403777,32.162940,...,12.909783,12.704806,10.887817,10.633127,12.489749,11.756084,16.983539,16.917784,13.290696,16.177633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120.0,38.004675,26.636994,28.346803,26.662073,25.585918,24.429053,26.073349,29.878007,29.607049,29.886157,...,12.352503,12.781847,12.104648,12.362916,11.897980,12.392336,17.316358,16.941134,13.075661,18.081274
122.0,38.318576,27.799589,25.861147,24.551744,25.732650,18.872135,26.311449,30.829414,28.647359,30.121764,...,12.817136,13.440836,13.578259,13.620910,8.923157,13.923531,12.861055,16.841500,17.715807,15.391217
123.0,37.527875,27.174171,28.953215,25.619161,24.528623,20.714471,25.589237,29.621968,29.398338,29.436129,...,12.080741,14.273205,12.411944,13.585428,12.483726,14.353511,15.004183,16.431385,12.094935,18.275598
125.0,37.531874,27.048120,27.953992,18.235671,24.415578,18.968960,24.469237,29.847478,30.602844,29.728744,...,12.307803,12.746906,13.035087,12.672107,12.797433,13.068042,12.862235,16.626568,14.738471,17.016293
127.0,37.322527,28.633014,29.464392,26.611752,26.003953,24.763395,25.088410,30.716694,31.131302,30.354474,...,13.047262,13.053812,13.441363,13.300513,13.127588,13.139711,13.314418,16.191941,13.052785,17.290952